body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 8px;
    background: black;
    color: white;
    text-decoration: none;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
